on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        default: "./"
        type: string
        description: "Working directory to base all other paths on. Should end with a slash (/)"
      mod-path:
        required: false
        default: "./go.mod"
        type: string
        description: "Path to the go.mod file, by default it is assumed to be in the root of the repository"
      source-path:
        required: false
        default: "./..."
        type: string
        description: "Path to lint, by default all packages in the working directory"
      linter-args:
        required: false
        default: "--out-format=checkstyle:lint.out -v"
        type: string
        description: "Arguments to pass to golangci-lint"
      retention-days:
        required: false
        default: 2
        type: number
        description: "Number of days to keep the binary in the artifact store"

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version-file: "${{ inputs.working-directory }}${{ inputs.mod-path }}"
        cache-dependency-path: "${{ inputs.working-directory }}go.sum"

    - name: Check formatting
      run: go fmt ${{ inputs.source-path }}
      working-directory: ${{ inputs.working-directory }}

    - name: Check vet
      run: go vet ${{ inputs.source-path }}
      working-directory: ${{ inputs.working-directory }}

    - name: Check linting
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest
        skip-pkg-cache: true
        working-directory: ${{ inputs.working-directory }}
        args: ${{ inputs.linter-args }} ${{ inputs.source-path }}

    - name: Store linting report
      uses: actions/upload-artifact@v5
      if: ${{ !cancelled() }}
      with:
        name: Linting report
        path: ./lint.out
        if-no-files-found: ignore
        retention-days: ${{ inputs.retention-days }}
